

.App{
  transition: all 0.5s ease;
  font-family: "Lato", sans-serif;
}

.MenuBar {
  color: white;
  background-color: #282c34;
  border-radius: 1.5vh;
  margin: 3vh;
  padding: 1vh;
}

.menuButton{
  background-color: gray;
  color: white;
  border-radius: 1.5vh;
  padding: 1vh;
  font-size: calc(8px + 1vmin);;
}

.AppHeader {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  margin: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border-radius: 1.5vh;
  min-height: 10vh;
  padding-left: 5vh;
  padding-right: 5vh; 
  font-size: calc(8px + 3vmin);
}

.AppBody{
  /*text-align: center;*/
  display:row;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  margin: 3vh;
  border-radius: 1.5vh;
  min-height: 10vh;
  padding: 2vh;
  font-size: calc(8px + 2vmin);
}

.AppFooter{
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  margin: 3vh;
  border-radius: 1.5vh;
  min-height: 10vh;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: calc(8px + 2vmin);
}

.App-Body-Note-TextArea{
  width: 100%;
  text-align: left;
  display: inline-block;
  flex-direction:row;
  align-items: left;
  justify-content: left;
  box-sizing: border-box;
  font-size: calc(8px + 2vmin);
}

label{
  color: white;
}

select{
  width: 100%;
  margin:1vh 0 2vh 0;
  padding: 1vh;
  border-radius: .5vh;
  font-size: calc(3px + 2vmin);
}

textarea{
  width: 100%;
  padding: "9px";
  margin:1vh 0 2vh 0;
  border-radius: .5vh;
  font-size: calc(8px + 2vmin);
  font-family: "Lato", sans-serif;
}

.an_ta_who{
  resize:none;
  height: calc(10px + 2vmin);
}

.an_ta_note{
  resize: vertical;
  min-height: calc(100px + 2vmin);
	max-height: calc(2000px + 2vmin);
  overflow-x: hidden;
  overflow-y: auto;
} 

ul, list-group {
  list-style: none;
  padding-left: 0;
  float: left;
  color: black;
  width: 100%;
}

.note_container{
  border-radius: .5vh;
  color: black;
  background-color: white;
}

p.notation{
  font-size: calc(8px + 2vmin);
  white-space: pre-wrap;
  word-break: break-all;
  padding: 20px;
}

a{
  color: #1E77E1;
  text-decoration-line: none;
}

a:hover{
  color: #E1881E;
  transition: .5s ease-in-out;
}